<p>shopping card work...</p>
<div
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<div fxFlex="15%">Item 1</div>
<div fxFlex="20%" fxFlexOrder="3">Item 2</div>
<div fxFlex>Item 3</div>
</div>

<div
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<div fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div>
<div fxFlex="200px">Item 5</div>
</div>

<div
fxLayout
fxLayout.xs="column"
fxLayoutAlign="center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
<div fxFlex="100%">Item 6</div>
</div>


<md-card class="z-depth" style="width:50%" >Simple card</md-card>