<ng2-toasty [position]="'top-right'"></ng2-toasty> 
<div fxLayout="column" fxFlex>
  <app-md-toolbar></app-md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" opened>
      <md-tab-group>
        <md-tab label="Users">
          <app-md-navbar></app-md-navbar>
        </md-tab>
        <md-tab label="Settings">
          <app-md-navbar></app-md-navbar>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">
      <md-card fxFlex>
        <router-outlet></router-outlet>
      </md-card>
    </div>
  </md-sidenav-container>

  <button md-fab class="fab-bottom-right">
    <md-icon>add</md-icon>
  </button>
</div>
