<md-toolbar color="primary">
  <button md-button routerLink="/">
    <h2>Mana Shop</h2>
  </button>
  <a md-icon-button routerLink="/shopping-cart">
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">shopping_cart</md-icon>
  </a>

  <span fxFlex></span>

  <ng-template #anonymousUser>
    <a md-button routerLink="/login">
      <md-icon class="md-24" aria-label="Example icon-button with a heart icon">lock</md-icon> Login
    </a>
  </ng-template>
  <button *ngIf="user$ | async as user; else anonymousUser" md-button [mdMenuTriggerFor]="themeMenu">
    <md-icon>account_circle</md-icon> {{ user.displayName | uppercase}}
  </button>
</md-toolbar>

<md-menu #themeMenu x-position="before">
  <a md-menu-item routerLink="/my/orders">
    <md-icon>shopping_basket</md-icon>
    <span>My Orders</span>
  </a>
  <a md-menu-item routerLink="/admin/orders">
    <md-icon>format_list_bulleted</md-icon>
    <span>Manage Orders</span>
  </a>
  <a md-menu-item routerLink="/admin/products">
    <md-icon>format_list_bulleted</md-icon>
    <span>Manage Product</span>
  </a>
  <a md-menu-item (click)="logout()">
    <md-icon>input</md-icon>
    <span>Log Out</span>
  </a>
</md-menu>