<md-toolbar color="primary">
  <span>Angular Material</span>&nbsp;
  <button md-icon-button routerLink="/">
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">home</md-icon>
  </button>
  <a md-icon-button routerLink="/shopping-cart">
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">shopping_cart</md-icon>
  </a>

  <span fxFlex></span>

  <button md-icon-button [mdMenuTriggerFor]="themeMenu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>

<md-menu #themeMenu x-position="before">
  <button md-menu-item>Toggle Theme</button>
  <button md-menu-item>Settings</button>
</md-menu>